*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
nav{
    height: 80px;
    background-color: rgb(208, 239, 247);
}
.footer{
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    margin-top: 10px;
}
.user-datas{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
p{
    margin-left: 30px;
}
.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.u{
    margin-top: -60px;
}